<!-- <p>navbar works!</p> -->

<section class="nav_bar">
    <div class="main_container">
        <div class="start_block">
            <ul class="nav_bar_start_list">
                <li class="logo">
                    <a href="">
                        <img class="logo_img" src="../../assets/images/logo.png" alt="Rockwell Aishappat Logo">
                    </a>
                </li>
                <li class="nav_element">
                    <button>
                        Products
                        <div class="bottom_color"></div>
                    </button>
                </li>
                <li class="nav_element">
                    <button>

                        Services
                        <div class="bottom_color"></div>
                    </button>
                </li>
                <li class="nav_element">
                    <button>
                        Solutions & Industries
                        <div class="bottom_color"></div>
                    </button>
                </li>
                <li class="nav_element">
                    <button>
                        Support
                        <div class="bottom_color"></div>
                    </button>
                </li>
                <li class="nav_element">
                    <button>
                        Sales & Partners
                        <div class="bottom_color"></div>
                    </button>
                </li>
            </ul>
        </div>
        <div class="end_block">
            <ul class="nav_bar_end_list">
                <li class="nav_element">
                    <a href="">
                        <svg class="user_svg" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32"
                            aria-labelledby="userTitle userDesc" role="img">
                            <!-- <title id="userTitle">User</title> -->
                            <!-- <desc id="userDesc">User</desc> -->
                            <path
                                d="M16 19.124c6.037 0 10.996 4.965 11.399 11.226H4.601C5.005 24.089 9.963 19.124 16 19.124m0-1.65c-7.21 0-13.075 6.146-13.075 13.7 0 .457.369.826.825.826h24.5c.456 0 .825-.37.825-.825 0-7.555-5.865-13.701-13.075-13.701zM15.73 1.65a5.751 5.751 0 0 1 5.744 5.746 5.75 5.75 0 0 1-5.744 5.743 5.7 5.7 0 0 1-4.058-1.682 5.706 5.706 0 0 1-1.682-4.06c0-3.17 2.575-5.747 5.74-5.747m0-1.65c-4.08 0-7.39 3.316-7.39 7.396a7.393 7.393 0 0 0 14.784 0C23.124 3.316 19.813 0 15.73 0z">
                            </path>
                        </svg>
                        <div class="bottom_color"></div>
                    </a>
                </li>
                <li class="nav_element">
                    <a href="">
                        <svg class="search_svg" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32"
                            aria-labelledby="searchTitle searchDesc" role="img">
                            <!-- <title id="searchTitle">Search</title> -->
                            <!-- <desc id="searchDesc">Search</desc> -->
                            <path
                                d="M31.712 29.303L18.705 17.122a10.182 10.182 0 0 0 1.733-4.858c.498-5.624-3.673-10.604-9.296-11.102-2.721-.24-5.379.593-7.476 2.349S.281 7.734.04 10.458c-.498 5.624 3.672 10.604 9.296 11.102a10.164 10.164 0 0 0 7.476-2.348c.258-.216.503-.443.736-.679l12.92 12.099a.91.91 0 1 0 1.244-1.329zM18.625 12.104a8.36 8.36 0 0 1-2.981 5.712 8.351 8.351 0 0 1-6.147 1.931c-4.624-.41-8.053-4.505-7.643-9.129a8.363 8.363 0 0 1 2.981-5.712 8.351 8.351 0 0 1 6.148-1.932c4.622.411 8.051 4.506 7.642 9.13z">
                            </path>
                        </svg>
                        <div class="bottom_color"></div>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</section>