<!-- <p>navbar works!</p> -->

<section class="nav_bar">
    <div class="main_container">
        <div class="start_block">
            <div class="logo">
                <a href="">
                    <img class="logo_img" src="/assets/images/RA_logo.png" alt="Rockwell Automation Logo">
                </a>
            </div>
        </div>
        <div class="mid_block">
            <ul class="nav_bar_list">
                <li class="nav_element">
                    <button>
                        Products
                        <div class="bottom_color"></div>
                    </button>
                </li>
                <li class="nav_element">
                    <button>
                        Services
                        <div class="bottom_color"></div>
                    </button>
                </li>
                <li class="nav_element">
                    <button>
                        Solutions & Industries
                        <div class="bottom_color"></div>
                    </button>
                </li>
                <li class="nav_element">
                    <button>
                        Support
                        <div class="bottom_color"></div>
                    </button>
                </li>
                <li class="nav_element">
                    <button>
                        Sales & Partners
                        <div class="bottom_color"></div>
                    </button>
                </li>
            </ul>
        </div>
        <div class="end_block">
            <ul class="nav_bar_end_list">
                <li class="nav_element">
                    <button id="theme_toggle" (click)="toggle_theme()">
                        <img class="svgs theme_svg rotate" src="assets/svg/theme.svg" alt="Theme svg" [ngClass]="{'rotated':isRotated}" >
                        <div class="bottom_color"></div>
                    </button>
                </li>
                <li class="nav_element">
                    <button>
                        <img class="svgs search_svg" src="assets/svg/search.svg" alt="Search svg">
                        <div class="bottom_color"></div>
                    </button>
                </li>
                <li class="nav_element">
                    <button>
                        <img class="svgs profile_svg" src="assets/svg/profile.svg" alt="Profile svg">
                        <div class="bottom_color"></div>
                    </button>
                </li>
            </ul>
        </div>
    </div>
</section>